.modal {
  background-color: var(--bg-fourth-color);
  border-radius: 20px;
  padding: 30px 70px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.modal p {
  font-size: 12px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.row span {
  background-color: #392a75;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 15px 0;
}
.modal button {
  width: 100%;
  color: #fff;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    91deg,
    var(--first-color) 0%,
    var(--second-color) 100%
  );
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  padding: 15px;
  border-radius: 16px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.modal button:hover {
  -webkit-box-shadow: 4px 4px 5px 0px var(--first-color);
  -moz-box-shadow: 4px 4px 5px 0px var(--first-color);
  box-shadow: 4px 4px 5px 0px var(--first-color);
}
