.header {
  background-color: var(--bg-second-color);
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1f1f1f;
}

.imageContainer {
  cursor: pointer;
  height: 50px;
  width: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer img{
  width: 100%;
}
.header nav {
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  list-style: none;
}
.hamburger {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.hamburger span {
  width: 100%;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 7px;
  opacity: 1;
}

.checkbox {
  display: none;
}
.checkbox:checked ~ .nav {
  transform: translateY(000px);
  top: 0;
}
.checkbox:checked ~ .hamburger {
  z-index: 10;
  transform: translateX(100px);
}
.checkbox:checked ~ .hamburger span:last-child {
  opacity: 0;
  transition: all 0.5s ease;
}
.checkbox:checked ~ .hamburger span:first-child {
  transition: all 0.5s ease;
  transform: translateY(8px) rotate(45deg);
}
.checkbox:checked ~ .hamburger span:nth-child(2) {
  transition: all 0.5s ease;
  transform: rotate(-45deg);
}
.header button {
  background-color: var(--bg-third-color);
  border-radius: 20px;
  padding: 15px 30px;
  min-width: 200px;
  cursor: pointer;
  font-size: 16px;
}
.header button:hover span {
  opacity: 1;
}
.header button span {
  background: -webkit-linear-gradient(var(--first-color), var(--second-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 500;
  opacity: 0.7;
}

@media (max-width: 1000px) {
  .header button {
    font-size: 10px !important;
    min-width: 120px;
    padding: 10px 20px;
  }
}

@media (max-width: 774px) {
  .header {
    padding: 20px;
  }
  .logo {
    width: 130px;
    height: 50px;
  }
  .nav {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    transform: translateY(-200px);
    z-index: 1;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.212);
    backdrop-filter: blur(4px);
  }
  .hamburger {
    display: flex;
    z-index: 20;
    position: relative;
  }
}
