:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --bg-first-color: #130e22;
  --bg-second-color: #0b0716;
  --bg-third-color: #181228;
  --bg-fourth-color: #2a1f55;
  --first-color: #8457e6;
  --second-color: rgba(231, 86, 225, 0.98);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

button {
  border: none;
  outline: none;
}
